# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll-archives/

# Ruby environment normalization
.bundle/
vendor/
.ruby-version
.ruby-gemset

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor files
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
