# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Manoj Paudel
email: mpsandip12@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
url: "https://pdlmanoj.github.io"
twitter_username: "@manoj80013"
github_username: pdlmanoj
minimal_mistakes_skin: default # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
search: true

# Use for twitter card metadata when your site is shared on Twitter
# Helps Twitter display rich previews of your content
twitter:
  username: "@manoj80013"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes


# Outputting
permalink: /:year/:month/:title/  # Controls the URL structure for your posts
paginate: 5 # Number of posts to show per page on the home page
paginate_path: /page:num/
timezone: Asia/Kathmandu

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# Author Information
author:
  name   : "Manoj Paudel"
  avatar : "images/profile.jpeg" # path of your profile photo
  bio    : "Python Developer"
  location : "Kathmandu, Nepal" # short bio
  email   : mpsandip12@gmail.com
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://x.com/pdlmanoj_"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/pdlmanoj"
    - label: "Linkedin"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/pdlmanoj/"
    
    # - label: "Subscribe"
    #   icon: "fas fa-fw fa-envelope"
    #   url: ""
    # - label: "Support"
    #   icon: "fas fa-fw fa-mug-hot"
    #   url: ""
    # - label: "Email"
    #   icon: "fab fa-envelope"
    #   url: "mailto:brursagor@gmail.com"



# Default Settings
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: true
      comments: true
      share: true
      related: true
      show_date: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false
  # For images
  - scope:
      path: "images/"
    values:
      image: true

# Archive Settings
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

## For comment feature ->  used giscus
comments:
  provider: "giscus"
  giscus:
    repo: "pdlmanoj/blog-comments"
    repo_id: "R_kgDOOhH6UQ" # change this to your repo id
    category: "Announcements"
    category_id: "DIC_kwDOOhH6Uc4Cpjeo" # also change this to your category id
    mapping: "pathname"
    input_position: "top"
    theme: "light"
    reactions_enabled: "1"
    lazy: true
repository: "pdlmanoj/blog-comments"

# Google Site Verification proves to Google Search Console that you own the site.
# 1. Go to Google Search Console.
# 2. Click “Add Property”.
# 3. Choose your domain or URL prefix (for example: https://yourdomain.com).
# 4. Select HTML tag verification.
# 5. Copy the code (e.g., google_site_verification: "your_code_here") and uncomment it in your config.yml.
# 6. Deploy your site.
# 7. Click “Verify” in Search Console.

# Add your code here
# google_site_verification: ""

# Social Media Settings
# Used for structured data/SEO to help search engines understand your identity
# Provides social profile links for search engines to associate with your content
social:
  type:  Person
  name:  Manoj Paudel
  links:
    - "https://x.com/pdlmanoj_"
    - "https://www.linkedin.com/in/pdlmanoj/"
    - "https://github.com/pdlmanoj"

# Google Analytics Settings
# Google Analytics is a tool to track and analyze who visits
#  your site and how they interact with it.
# 1. Go to Google Analytics.
# 2. Create an account and property.
# 3. Choose Google Analytics 4 (GA4)
# tracking_id: Your Google Analytics ID
# anonymize_ip: Option to anonymize visitor IP addresses for privacy
analytics:
  provider: "google-gtag"
  google:
    tracking_id: ""
    anonymize_ip: false
